@import url("https://fonts.googleapis.com/css2?family=Alata&family=Dongle:wght@300;400;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Varela+Round&display=swap");

*,
*::before,
*::after {
  margin: ;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  padding: 20px;
  background: #0780ff30;
}

html {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

/* .u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
} */

.heading-secondary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #fff8f3, #d6e5fa);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-top: 0;
  margin-bottom: 40px;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 25px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 25px;
  }
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.section-book {
  padding: 150px 50px;
  background-image: linear-gradient(
    to right bottom,
    #0780ff30,
    #0780ff,
    #0780ff60
  );
}

@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 30px 0;
  }
}

.book {
  background-image: linear-gradient(
      110deg,
      #0780ff60 50%,
      #0780ff90 50%,
      transparent 50%
    ),
    url(../images/form-bg-1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url(../images/form-bg-1.jpg);
    background-size: cover;
  }
}

@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url(../images/form-bg-1.jpg);
  }
}

.book__form {
  width: 50%;
  padding: 50px;
}

@media only screen and (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}

@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 13.5px 18px;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 60%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.btn {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
  padding: 20px 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  overflow: hidden;
}

.btn .btn-text {
  position: relative;
  z-index: 5;
  margin: 0;
}

.btn-primary,
.btn-secondary .square {
  background: #f76e11;
}

.btn .square {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transition: 0.25s ease;
}

.btn:hover .square {
  right: -2px;
  width: 102%;
  height: 102%;
}

.btn-primary .square,
.btn-secondary {
  background: #03045e;
}
