@import url("https://fonts.googleapis.com/css2?family=Alata&family=Dongle:wght@300;400;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Varela+Round&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.meds__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}

.meds__left__wrapper {
  max-width: 475px;
}

.meds-box {
  width: 400px;
  padding: 40px;
  border: 4px solid #041562;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 10px 15px 25px rgba(50, 88, 130, 0.32);
  border-radius: 16px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 0;
  color: #041562;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #343f4f;
}

.minus,
.plus {
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
