*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav Styles */
.nav {
  padding: 2rem 0;
}

.nav__icon,
.nav__close,
.nav__bgOverlay {
  display: none;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #548cff;
}

.logo:hover {
  color: #548cff99;
}

.nav__list li {
  display: inline-block;
  margin: 0 1rem;
}

.nav__list .nav__link {
  font-size: 1.8rem;
  font-family: Poppins;
  color: #3f3c3c;
  padding: 0.5rem;
}

.nav__list li:hover .nav__link {
  color: #516beb95;
}

.primary-btn {
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-radius: 8px;
  padding: 1rem 1rem;
  color: #eef2ff;
  background: #548cff;
}

@media only screen and (min-width: 700px) {
  .btn {
    padding: 1.3rem 2rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    position: relative;
    /* overflow-x: scroll; */
  }

  .nav__icon {
    display: block;
  }

  .nav__icon svg,
  .nav__close svg {
    pointer-events: none;
    height: 30px;
    width: 30px;
  }

  .nav__close {
    display: block;
    position: absolute;
    color: #3b413a);
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }

  .nav__list {
    z-index: 1000;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 80%;
    background: var(--lightGreen-1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    transform: translate(0%);
    overflow: hidden;
    transition: 0.3s ease-in transform;
  }

  .nav__list.show {
    transform: translate(-100%);
  }

  .nav__list li {
    display: block;
    text-align: right;
    margin-bottom: 2rem;
  }

  .nav__list a {
    font-size: 1.6rem;
  }

  .nav__bgOverlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background: rgba(18, 24, 14, 0.808);
    display: none;
  }

  .nav__bgOverlay.active {
    display: block;
  }

  .search {
    order: 1;
    flex: 0 0 100%;
    /* background-color: #f4f2f2; */
  }
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media only screen and (max-width: 31.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    background-color: #f4f2f2;
  }
} */

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f4f2f2;
  box-shadow: 2.5px 5px 15px#0780ff50;
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

.search__input:focus {
  box-shadow: 4px 8px 25px#0780ff75;
  outline: none;
  width: 100%;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #f0eeee;
}
