/* WhyUs Section */
.whyUs__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.whyUs__left {
  text-align: center;
}
.whyUs__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: #516beb;
  font-weight: 700;
  margin-bottom: 1rem;
}
.whyUs__text {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
}
.whyUs__right {
  text-align: center;
}
.whyUs__items__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.whyUs__item {
  background: #0780ff40;
  padding: 2rem;
  border-radius: 12px;
}
.whyUs__item__icon {
  max-width: 56px;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #3e64ff;
}
.whyUs__item__text {
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #27496d;
}
@media only screen and (min-width: 768px) {
  .whyUs__wrapper {
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
  }
  .whyUs__left {
    flex: 4;
    text-align: left;
  }
  .whyUs__right {
    flex: 3;
  }
  .whyUs__title {
    font-size: 3.8rem;
    margin-bottom: 2rem;
  }
  .whyUs__text {
    font-size: 1.8rem;
    line-height: 1.4em;
  }
  .whyUs__items__wrapper {
    gap: 1.5rem;
  }
  .whyUs__item {
    padding: 2rem;
  }
  .whyUs__item__icon {
    max-width: 65px;
    margin-bottom: 1.5rem;
  }
  .whyUs__item__text {
    font-family: "Dongle", sans-serif;
    font-size: 2.8rem;
    line-height: 2.5rem;
    color: #27496d;
  }
}

/* End WhyUs Section */
