@import url("https://fonts.googleapis.com/css2?family=Alata&family=Dongle:wght@300;400;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Varela+Round&display=swap");

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.meds__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}

.meds__left__wrapper {
  max-width: 475px;
}

.meds__imgWrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .meds__wrapper {
    flex-direction: row;
    gap: 0;
  }
  .meds__left {
    flex: 1.5;
  }

  .meds__right {
    flex: 2;
  }

  .meds__imgWrapper {
    max-width: none;
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .meds__left,
  .meds__right {
    flex: 1;
  }
}

.meds-box {
  width: 400px;
  padding: 40px;
  border: 4px solid #041562;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 10px 15px 25px rgba(50, 88, 130, 0.32);
  border-radius: 16px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 0;
  color: #041562;
  text-align: center;
}

.AddToCart__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.AddToCart__wrapper button {
  background: #343f4f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.AddToCart__wrapper button a {
  text-decoration: none;
  color: #fff;
}

.AddToCart__wrapper button:hover {
  background: #fff;
  color: #343f4f;
  border: 1px solid #343f4f;
}

.AddToCart__wrapper button a:hover {
  color: #343f4f;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #343f4f;
  width: 50%;
  margin: 0 auto;
}

.num input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: #fff;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #041562;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.minus,
.plus {
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 2.3rem;
}

.admin_stocks {
  margin-top: 40px;
  width: 400px;
  padding: 40px;
  border: 4px solid #041562;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 10px 15px 25px rgba(50, 88, 130, 0.32);
  border-radius: 16px;
}

.det_wrap {
  border-bottom: 1px solid #000;
}

.admin_stocks h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.admin_stocks .st_instock,
.admin_stocks .st_price {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.5rem;
}
