@import url("./styles/Discount.css");
@import url("./styles/Footer.css");
@import url("./styles/GlobalStyles.css");
@import url("./styles/Hero.css");
@import url("./styles/MedicineGrid.css");
@import url("./styles/Navbar.css");
@import url("./styles/StoreInfo.css");
@import url("./styles/Testimonial.css");
@import url("./styles/WhyUs.css");
